/* reset css */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* 10px = 1rem */
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    font-weight: 400;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
input, textarea, button {
    outline: none;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
}
/* bien css */
:root {
    --title-color: #353738;
    --heading-color: #4d4959;
    --text-color: #848789;
    --primary-color: #64c29e;
    --bg-light: #f7f7f7;
    --bg-white: #ffffff;
}
.warper {
    max-width: 160rem;
    margin: 0 auto;
}
.header{
    min-height: 80rem;
    background-image: url('../images/bg-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* tac dong vao the nav */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.nav {
    margin-top: 3.5rem;
}
.nav__list{
    display: flex;
    align-items: center;
}
.nav__item {
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}
/* css tao dau "." */
.nav__item:first-child::after, .nav__item:nth-child(4)::after {
    content: ".";
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
}
.nav__link {
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    position: relative;
}
/* css feature */
.feature__header {
    background-color: var(--bg-light);
    padding: 11.7rem 1.5rem 14.2rem;
    text-align: center;
}
.feature__img--top {
    margin: 0 auto 3.5rem;
}
.feature__heading{
    margin-bottom: 3.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-color);
    text-align: center;
    letter-spacing: 0.2rem;
    word-spacing: 1.2rem;
    line-height: 1.6;
}
.feature__header--desc {
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 108rem;
}
.feature__item {
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    height: 60rem;
    overflow: hidden;
}
/* css col left */
.feature__item--img {
    width: 67%;
    position: relative;
}
/* css col right */
.feature__item--content {
    width: 33%;
}
/* big image in col left */
.feature__item--img .img_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature__item--img .img_brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.feature__item--content-top {
    background-color: var(--bg-white);
    padding: 0 6.8rem;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.feature__item--text {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.6;
    text-align: justify;
    padding-bottom: 4rem;
    position: relative;
}
.feature__item--text::after {
    content: "";
    position: absolute;
    width: 5rem;
    background-color: #d7d7d7;
    height: 1px;
    bottom: 0;
    left: 50%;
    /* tuong duong right: 50% */
    transform: translateX(-50%); 
}
/* arrow css */
.feature__item--content-top::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--bg-white);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
    z-index: 10;
}
/* doi vi tri 2 cot trong li thu 2 */
.feature__item:nth-child(2) .feature__item--img {
    order: 2;
}
/* xu ly cho li cuoi cung */
.feature__item:last-child > .feature__item--img {
    width: 33%;
}
.feature__item:last-child > .feature__item--content {
    width: 34%;
}
.feature__item:last-child .feature__item--content-bottom {
    width: 100%;
}
/* tweet */
.tweet {
    padding: 12.5rem 1.5rem 7rem;
    background-color: var(--bg-light);
    text-align: center;
}
.tweet__icon {
    font-size: 4rem;
    color: #56c7ee;
    margin-bottom: 3.6rem;
}
.tweet__heading {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}
.tweet__location, .tweet__author {
    color: var(--title-color);
    font-weight: bold;
}
.tweet__time {
    color: var(--text-color);
    font-weight: 300;
    padding-left: 1.3rem;
    margin-left: 1.3rem;
    position: relative;
}
.tweet__time::before {
    content: "/";
    position: absolute;
    left: 0;
    top: 2px;
}
.tweet__content {
    font-size: 2.4rem;
    line-height: 1.3;
    color: var(--text-color);
    font-style: italic;
    max-width: 107.4rem;
    margin: 0 auto 10rem;
}
.tweet__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tweet__pagination-item {
    width: 1rem;
    height: 1rem;
    border: thin solid #a9afb3;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.tweet__pagination-item.is-active {
    background-color: #a9afb3;
}
/* images */
.images {
    display: flex;
    justify-content: space-between;
    height: 53.5rem;
    overflow: hidden;
}
.images__block {
    width: 33.333%;
    height: 100%;
    display: flex;
    /* mac dinh cac thanh phan ben trong chia theo row */
}
.images__block:first-child {
    /* fix lai cho li thu 1 */
    flex-direction: column;
}
.images__block-item {
    height: 50%;
    width: 100%;
}
.images__block-item:first-of-type {
    display: flex;
}
.images__item {
    position: relative;
    width: 50%;
    height: 100%;
}
.images__block-item:last-of-type .images__item {
    width: 100%;
}
.images__block:last-child {
    flex-direction: column-reverse;
}
.images__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5ba68d;
    opacity: 0.8;
    z-index: 10;
    display: none;
}
.images__item-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.images__item-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
    display: none;
}
.images__item-brand > img {
    margin: 0 auto;
}
.images__item-text {
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    font-weight: bold;
}
.images__item:hover::before, .images__item:hover .images__item-brand {
    display: block;
    cursor: pointer;
}